# Node dependencies
node_modules/

# Environment variables
.env

# Uploaded files (mai su GitHub)
uploads/

# File criptati generati dal sistema
*.enc

# Chiave privata Firebase Admin (MAI su GitHub)
winkwink-app-firebase-adminsdk-*.json

# Log vari
*.log

# Cache e build
npm-debug.log*
yarn-debug.log*
yarn-error.log*


